
.bannerArea
{
	align-items: center;
    justify-content: space-around;
    display: flex;
    float: none;
	background-color:#C4C4C4;
	height: 165px;
	float: none;
}




.jobs {
    min-height:300px;
    text-align:center;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin-top:50px;
}
.jobtitle1
{
	min-height:150px;
	text-align:center;
	background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	color:black;
	margin: 3px;

}
.radio
{
	float: left;
}

.navigationbar
{
	float:right;
}
.logo
{
	float: left;
}
.button_margin
{
	padding:5px;
	
}
.active
{
	padding:5px;
}




/*css for the job boxes on the left bottom */


.job-box {
	display: flex;
	height: 100px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	padding: 0;

}

.job-logo {
	width: 120px;
	background-color: rgb(204, 206, 204);
	display: flex;
	justify-content: center;
	align-items: center;
}

.job-info {
	width: 100%;
	display: flex;
	justify-content: center;
}

.job-info>ul {
	list-style: none;
	margin-top: auto;
}
.main-job-box {
	margin-top: 18px;
}

.boxsection
{
	flex-direction: column;
	display: flex;
	align-items: flex-start;
}
